!!! 5
%html(lang="en-US")
  %body
    %p Please click on the link below to reset your password:
    - if Rails.env.production? || Rails.env.staging?
      %p= link_to "Reset my password", password_reset_url(@user.token)
    - else
      %p= link_to "Reset my password",
        "https://sightseer-tomtl.c9.io/password_resets/#{@user.token}"