/ Fixed navbar
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: root_path} Sightseer
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{href: sights_path} Sights
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Search for Sights
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Find by sight name
            %li
              %a{href: search_sights_path} Find sights near a location
            %li.divider{:role => "separator"}
            %li.dropdown-header Nav header
            %li
              %a{:href => "#"} Separated link
            %li
              %a{:href => "#"} One more separated link
        %li
          %a{href: new_sight_path} Add a Sight
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#contact"} Contact

      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              My Account
              %span.caret
            %ul.dropdown-menu
              %li
                %a{href: user_visited_sights_path(user_id: current_user.id)} Sights I've Visited
              %li
                %a{href: "#"} Account
              %li
                %a{href: "#"} Plan and billing
              %li.divider{:role => "separator"}
              %li
                %a{href: sign_out_path} Sign Out
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: new_user_path} Sign Up
          %li
            %a{href: sign_in_path} Sign In
    / /.nav-collapse
