.container
  .center-block
    %h1 About

    %p Sightseer is an app that allows you to find and review tourist attractions.
    %p It was created independently by Tom Lee as the final personal project for the Tealeaf Academy Rails course.

    %p The application includes:
    %ul.col-sm-6.col-sm-offset-4
      %li Geocoding using the Geocoder gem
      %li Emails sent with Mailgun
      %li Hosted by Heroku
      %li Images stored using AWS S3
      %li Full test suite of unit and feature specs using RSpec
      %li Postgres database
      %li Continous integration with CircleCI, Github and HoundCI


