$blue1: #0071ad
$blue2: #1d3a58
$blue3: #121736

nav.navbar.navbar-inverse
  background-color: $blue1
  border-color: $blue2
  .navbar-brand
    font-size: 2em
  a
    color: white
  li a
    color: white